/* ===== Footer Styles ===== */
footer {
    background-color: var(--surface-bg-secondary);
    padding: 25px;
    border-top: 1px solid var(--border-color-primary);
    color: var(--text-color-muted);
    text-align: center;
    margin-top: 40px;
    font-size: 0.9em;
    transition:
        background-color 0.3s,
        border-color 0.3s;

    a {
        color: var(--link-color);
        text-decoration: none; // Aggiunto per consistenza
        &:hover {
            text-decoration: underline; // Aggiunto per consistenza
        }
    }

    // Stile per il nuovo link admin
    .admin-link {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        color: var(--text-color-muted); // Colore più discreto
        transition: color 0.3s ease;

        .material-symbols-rounded {
            font-size: 28px; // Dimensione icona
        }

        &:hover {
            color: var(--link-hover-color); // Evidenzia al passaggio del mouse
            text-decoration: none; // Niente sottolineatura per l'icona
        }
    }
}

@media (max-width: 576px) {
    footer {
        font-size: 0.85em;
        padding: 20px;
    }
}
