# Dependencies
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Editor directories and files
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.sublime-project
*.sublime-workspace
.idea/
*.DS_Store
*.AppleDouble
.LSOverride

# Build output (se in futuro avrai un processo di build)
dist/
build/
out/

# Files di sistema operativo
Thumbs.db
ehthumbs.db

# File di ambiente (se li userai)
.env
.env.local
.env.*.local

# Altri file specifici che potresti voler ignorare
# (es. file di cache, file temporanei specifici del tuo OS o editor)